body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f1f1;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: rgb(215, 208, 208);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#currentDate {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.input-section {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
    min-width: 100px;
}

.input-group input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    width: calc(100% - 110px);
}

#barGraph {
    width: 100%;
    height: 100px;
    background-color: #ddd;
    position: relative;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

#profitLoss {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#profitLoss.profit {
    color: green;
}

#profitLoss.loss {
    color: red;
}

/* Input Background Colors */
/* Text Colors for Input Fields */
#index {
    background-color: purple;
    color: #ffffff; /* White text */
}

#target {
    background-color: green;
    color: #FFFFFF; /* White text */
}

#entryPoint {
    background-color: blue;
    color: #FFFFFF; /* White text */
}

#entryEditable {
    background-color: orange;
    color: #000000; /* Black text */
}

#entryEditable2 {
    background-color: green;
    width: 40%;
    display: inline;
    color: #000000; /* Black text */
}

#entryEditable3 {
    background-color: rgb(255, 136, 0);
    width: 40%;
    display: inline;
    color: #000000; /* Black text */
}


#average1 {
    background-color: pink;
    color: #000000; /* Black text */
}

#average2 {
    background-color: darkred;
    color: #FFFFFF; /* White text */
}

#stoploss {
    background-color: red;
    color: #FFFFFF; /* White text */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
